$primaryColor: #E91E63;
$darkPrimaryColor: #C2185B;
$lightPrimaryColor: #F8BBD0;
$textAndIconsColor: #FFFFFF;
$accentColor: #009CFA;
$primaryTextColor: #212121;
$secondaryTextColor: #757575;
$dividerColor: #BDBDBD;
$successColor: #C8E6C9;
$errorColor: #FFCDD2;
